streamlit==1.28.0 
langchain
langchain-openai
langchain-teddynote
langchain-google-genai
python-dotenv
pandas==2.1.1
yfinance==0.2.31
plotly==5.17.0
numpy==1.26.0
setuptools==68.2.2
streamlit-option-menu==0.3.2
